.about-container {
  transform: translate(8%, 0);
  width: 85%;
  padding: 0 1em 3em 1em;
  box-sizing: border-box;
  border-radius: 10px;
}

.about-header {
  color: rgba(206, 79, 39);
  font-size: 1.5em;
  margin-top: 2em;
}

.about-paragraphs {
  margin: 5em;
}

.from-lindsay {
  font-size: 3em;
  font-family: "Mrs Saint Delafield", cursive;
  color: rgba(0, 115, 181);
  font-weight: 800;
  float: right;
  margin-right: 2em;
}

.about-image {
  width: 400px;
  height: 300px;
  margin-top: 6em;
  margin-right: -3em;
  background-image: url(field.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1%;
  float: right;
  shape-outside: content-box;
}

p {
  line-height: 22px;
  font-size: 1.15em;
}

.about-divider {
  border-top: solid 1px black;
  width: 85%;
  margin: 0 auto;
  margin-top: 3em;
}

.about-divider-2 {
  border-top: solid 1px lightgrey;
  width: 60%;
  margin: 2em auto;
}

@media screen and (min-width: 900px) {
  .individual-cards {
    display: flex;
    padding-right: 15em;
    padding-left: 15em;
  }
}

.individual-cards:first-child {
  margin-top: 2em;
}

.individual-cards:last-child {
  margin-bottom: 2em;
}

.individual-cards img {
  width: 10em;
  height: 10em;
  background-color: white;
  background-size: cover;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 2em;
  opacity: 0.75;
}

.individual-cards p {
  color: black;
  padding-right: 2em;
  padding-left: 2em;
}
