.contributing-writer-pdf {
    width: 50%;
    /* background-color: yellow; */
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 25%;
}

.contact-page {
    width: 45%;
    background-color: whitesmoke;
    /* background: url(https://i.imgur.com/DmXejTs.jpg) no-repeat center; */
    /* background-size: 230%; */
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 4em;
    padding: 2em;
    padding-bottom: 3em;
    border-radius: 0.25em;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.12),
        0 17px 50px 0 rgba(0, 0, 0, 0.05);
}

/* .contact-page-opaque {
    background-color: rgba(245, 245, 245, 0.8);
    width: 111%;
    height: 130%;
    margin-left: -2em;
} */

.contact-page h1 {
    color: rgba(206, 79, 39);
}

.story-submission-div {
    padding: 2em;
    display: flex;
    color: #5f5652;
}

.story-submission-div:hover,
.story-submission-div:active {
    transform: translateY(-3px);
    box-shadow: -0.25em 0.5em 0.5em rgba(0, 0, 0, 0.25);
}

.story-submission {
    all: unset;
    display: flex;
    flex-wrap: wrap;
}

.story-submission-btn {
    padding: 1em;
    margin-right: -2em;
    font-size: 2em;
    border: none;
    background-color: Transparent;
    cursor: pointer;
}

.story-submission-btn:hover,
.story-submission-btn:active {
    transform: translateY(-3px);
}
/* 
ion-icon:hover {
    box-shadow: 0 2px 2px rgba(0, 115, 181, 0.26);
} */

.story-submission span {
    text-align: left;
    /* margin-right: 2em; */
    width: 90%;
}

.story-form-container {
    font-size: 2em;
    margin-right: -1em;
    margin-top: 1.5em;
}

.story-form-submission {
    width: 65%;
    background-color: whitesmoke;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.25em;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.12),
        0 17px 50px 0 rgba(0, 0, 0, 0.05);
    padding: 1em 2em 2em 2em;
    color: #5f5652;
}
.story-form-submission h2 {
    color: rgba(206, 79, 39);
}

.story-form-field {
    margin: 2em;
}

.story-form-submission button {
    background-color: rgba(206, 79, 39);
    color: white;
    text-transform: uppercase;
    padding: 0.25em 0.75em;
    border-radius: 0.25em;
    cursor: pointer;
}

.story-form-field input:hover,
.story-form-field input:active,
.story-form-field textarea:hover,
.story-form-field textarea:active,
.story-form-submission button:hover,
.story-form-submission button:active {
    transform: translateY(-3px);
    transition: all 0.2s ease;
    box-shadow: -0.25em 0.5em 0.5em rgba(0, 0, 0, 0.25);
}
