.footer {
  color: white;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 12em;
}

.row {
  max-width: 100%;
  height: 12em;
  margin: 0 auto;
}

.col-3-of-4 {
  width: 85%;
  height: 12em;
  background-color: rgba(0, 115, 181);
}

.footer-links {
  margin-top: 2em;
}

.col-1-of-4 {
  float: right;
  width: 15%;
  height: 12em;
  background-color: rgba(206, 79, 39);
  margin-top: -12em;
  display: flex;
  align-items: center;
  background-image: url("SOSD.svg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 60%;
}

h2 {
  padding: 2em;
}

a {
  color: white;
}
