.home-image {
    /* background-color: pink; */
    background-image: url("stopracism.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 28em;
    border-bottom: 5px solid rgba(0, 115, 181);
}

.home-headers {
    position: relative;
    /* background-color: salmon; */
    height: 100%;
    margin-bottom: 0;
}

.home-headers h1 {
    padding-top: 1em;
    margin-top: 0;
    margin-bottom: 0.25em;
    font-size: 3em;
    color: rgba(206, 79, 39);
}

.home-headers h3 {
    padding-top: 0;
    padding-left: 8em;
    padding-right: 8em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    /* background-color: red; */
    color: #5f5652;
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    .home-headers h3 {
        padding-left: 2em;
        padding-right: 2em;
    }
}

/* .home-headers-2 a {
    text-decoration: none;
} */

/* .home-headers-2 h3 {
    color: rgba(206, 79, 39);
    margin-bottom: 2em;
} */

/* @media screen and (max-width: 500px) {
    .home-headers h3 {
        padding-right: 2em;
        padding-left: 2em;
    }
} */

.home-headers-2 {
    margin: 2em;
}

.home-headers-2 a {
    color: rgba(206, 79, 39);
    text-decoration: none;
    margin-bottom: 2em;
    font-size: 1.25em;
}

.home-headers-2 p {
    width: 50%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.25);
    /* transform: skewX(-12deg); */
    padding: 0.5em;
    text-shadow: -0.25em 0.5em 0.5em rgba(0, 0, 0, 0.25);
    /* border-radius: 0.25em; */
}

.home-headers-2 p:hover,
.home-headers-2 p:active {
    /* transform: translateY(-3px); */
    color: #fff;
    background-color: rgba(206, 79, 39);
    box-shadow: -0.25em 0.5em 0.5em rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease;
    transform: skewX(-12deg) translateY(-3px);
    text-shadow: none;
}

.latest-story-card-divs {
    /* padding: 5em; */
    /* margin: 3rem; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 20em;
    grid-column-gap: 5rem;
    margin: 2% 5% 5% 8%;
    padding-right: 2em;
    justify-items: start;
}

@media screen and (max-width: 875px) {
    .latest-story-card-divs {
        grid-template-columns: repeat(1, 0.75fr);
        grid-row-gap: 2em;
        margin-left: 10em;
        justify-items: center;
    }
}
@media screen and (max-width: 500px) {
    .latest-story-card-divs {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1em;
        justify-items: end;
        margin-left: -1em;
    }
}

.recent-stories {
    position: relative;
    margin: 1em;
    background-color: rgba(206, 79, 39);
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 875px) {
    .recent-stories {
        margin-right: 0 auto;
    }
}

.button-container {
    /* display: inline-block; */
    /* position: relative; */
    width: 90%;
    height: 70%;
}

.button-container a {
    position: absolute;
    top: 1em;
    left: -4em;
    background-color: rgba(206, 79, 39);
    color: white;
    text-transform: uppercase;
    padding: 0.25em 0.75em;
    margin-left: 1em;
    border-radius: 0.25em;
}

.button-container a:hover,
.button-container a:active {
    transform: translateY(-3px);
    box-shadow: -0.25em 0.5em 0.5em rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease;
}

.story-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

.story-summary {
    background-color: rgba(206, 79, 39);
    color: white;
    height: 33%;
    display: flex;
    justify-content: center;
}

.story-summary h4 {
    padding: 0.5em 1em;
}
