.home-image {
  /* background-color: pink; */
  background-image: url("graphic-sosd.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 25em;
  border-bottom: 5px solid rgba(0, 115, 181);
}

.home-headers {
  position: relative;
  /* background-color: salmon; */
  height: 100%;
  margin-bottom: 0;
}
.home-headers h1 {
  padding-top: 1em;
  margin-top: 0;
  margin-bottom: 0.25em;
  font-size: 3em;
  color: rgba(206, 79, 39);
}

.home-headers h3 {
  padding-top: 0;
  padding-left: 10em;
  padding-right: 10em;
  margin-top: 0;
  margin-bottom: 0;
  /* background-color: red; */
  color: rgba(206, 79, 39);
}

.home-headers-2 h3 {
  color: rgba(206, 79, 39);
  margin-bottom: 2em;
}

.first-three-story-cards {
  /* padding: 5em; */
  margin: 3rem;
  display: flex;
  justify-content: center;
}

.recent-stories {
  position: relative;
  width: 17em;
  height: 20em;
  border: 1px solid black;
  margin: 1em;
  transition: transform 1s;
  /* transform-style: preserve-3d; */
  /* padding: 4px; */
}

.story-image {
  width: 100%;
  height: 66%;
  background-size: cover;
  object-fit: contain;
}

.story-summary {
  background-color: rgba(206, 79, 39);
  color: white;
  height: 33%;
}
