.home-image {
  /* background-color: pink; */
  background-image: url("graphic-sosd.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 25em;
}

.home-content {
  position: relative;
  /* background-color: salmon; */
  height: 25em;
}

.home-header {
  padding-top: 1em;
  margin-top: 0;
  margin-bottom: 0.25em;
  font-size: 3em;
  color: rgba(206, 79, 39);
}

.home-content h3 {
  padding-top: 0;
  padding-left: 10em;
  padding-right: 10em;
  margin-top: 0;
  margin-bottom: 0;
  /* background-color: red; */
  color: rgba(206, 79, 39);
}
