.navbar {
  padding: 4em;
  /* border-bottom: 5px solid rgba(206, 79, 39); */
  border-bottom: 5px solid rgba(0, 115, 181);
  display: flex;
}

.navbar-links {
  /* grid-column: full-start / full-end; */
  /* float: right; */
  font-size: 1.25em;
  /* margin-right: -10em; */
}

.navbar-header {
  /* float: left; */
  font-size: 2em;
  font-family: "Mrs Saint Delafield", cursive;
  color: rgba(0, 115, 181);
  margin-top: -2.5em;
  margin-left: -1em;
  display: flex;
}

.navbar-header img {
  /* float: left; */
  /* margin-top: 1em; */
  padding-top: 1.5em;
  padding-right: 0.5em;
}
