.search-articles {
    margin-top: 3em;
}

.container .input {
    border: 0;
    outline: none;
    color: #8b7d77;
}

.search_wrap {
    width: 500px;
    margin: 38px auto;
}

.search_wrap .search_box {
    position: relative;
    width: 500px;
    height: 60px;
    border: 1px solid rgba(206, 79, 39);
    border-radius: 4px;
}

.search_wrap .search_box .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
}

.search_wrap .search_box .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: rgba(206, 79, 39);
    z-index: 1;
    cursor: pointer;
}

.search_wrap .search_box .btn:hover {
    background: rgba(206, 79, 39);
}

.search_wrap .search_box .btn.btn_common .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}

.search_wrap.search_wrap_2 .search_box .btn {
    left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search_wrap.search_wrap_2 .search_box .input {
    padding-left: 80px;
}

i:hover,
i:active {
    color: white;
}

/* ------------------------------------- */

.search-story-cards {
    /* padding: 5em; */
    margin: 5%;
    margin-bottom: 7em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 20em;
    grid-column-gap: 3rem;
    grid-row-gap: 3em;
}

@media screen and (max-width: 900px) {
    .search-story-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 650px) {
    .search-story-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .search-story-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1em;
    }
}

.recent-stories {
    position: relative;
    width: 100%;
    height: 100%;
    /* height: 50%; */
    background-color: rgba(206, 79, 39);
    margin-left: -1em;

    /* margin: 2rem; */
    /* display: flex;
    flex-direction: column; */
}

@media screen and (max-width: 500px) {
    .recent-stories {
        width: 60%;
        height: 80%;
        margin: 1em;
        margin-left: 6em;
        margin-right: 4em;
        /* padding: 2em; */
    }
}

.button-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /* height: 66%; */
}

.button-container a {
    position: absolute;
    top: 1em;
    left: -3em;
    background-color: rgba(206, 79, 39);
    color: white;
    text-transform: uppercase;
    padding: 0.25em 0.75em;
    margin-left: 1em;
    border-radius: 0.25em;
}

.button-container a:hover,
.button-container a:active {
    transform: translateY(-3px);
    box-shadow: -0.25em 0.5em 0.5em rgba(0, 0, 0, 0.25);
}

.story-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

.story-summary {
    background-color: rgba(206, 79, 39);
    color: white;
    height: 33%;
    display: flex;
    justify-content: center;
}

.story-summary h4 {
    padding: 0.5em 1em;
}
