.stories-headers h1 {
    padding-top: 1em;
    margin-top: 0;
    margin-bottom: 0.25em;
    font-size: 3em;
    color: rgba(206, 79, 39);
}

.first-three-story-cards {
    /* padding: 5em; */
    margin: 5%;
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 20em;
    grid-column-gap: 4rem;
    grid-row-gap: 4em;
    margin-right: 2em;
}

@media screen and (max-width: 900px) {
    .first-three-story-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 650px) {
    .first-three-story-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .first-three-story-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1em;
    }
}

.recent-stories {
    position: relative;
    width: 100%;
    height: 100%;
    /* height: 50%; */
    background-color: rgba(206, 79, 39);

    /* margin: 2rem; */
    /* display: flex;
    flex-direction: column; */
}

@media screen and (max-width: 500px) {
    .recent-stories {
        width: 60%;
        height: 80%;
        margin: 1em;
        margin-left: 6em;
        margin-right: 4em;
        /* padding: 2em; */
    }
}

.button-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /* height: 66%; */
}

.button-container a {
    position: absolute;
    top: 1em;
    left: -3em;
    background-color: rgba(206, 79, 39);
    color: white;
    text-transform: uppercase;
    padding: 0.25em 0.75em;
    margin-left: 1em;
    border-radius: 0.25em;
}

.button-container a:hover,
.button-container a:active {
    transform: translateY(-3px);
    box-shadow: -0.25em 0.5em 0.5em rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease;
}

.story-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

.story-summary {
    background-color: rgba(206, 79, 39);
    color: white;
    height: 33%;
    display: flex;
    justify-content: center;
}

.story-summary h4 {
    padding: 0.5em 1em;
}

.indiv-story-image__header {
    /* float: left; */
    /* margin-left: 4em; */
    color: rgba(206, 79, 39);
    margin-bottom: -1em;
}

.indiv-story-image {
    width: 50%;
    height: 100%;
    margin: 0 auto;
}
.indiv-story-image__image {
    width: 75%;
    max-height: 20em;
    background-size: cover;
    object-fit: cover;
    margin-top: 3em;
    margin-bottom: 1em;
}

.indiv-story-image__contributor {
    color: lightslategrey;
    font-size: 1.1em;
}

.indiv-story-image__story {
    font-size: 1.15em;
    margin-top: 1em;
    margin-right: 6em;
    margin-left: 6em;
    margin-bottom: 3em;
    color: #5f5652;
}

.indiv-story-image__date,
.indiv-story-image__editor {
    color: lightslategrey;
    float: left;
    margin-left: -2em;
}

.search-button {
    margin-top: 1em;
    margin-bottom: -2em;
}

.search-button__button {
    font-size: 1em;
    color: rgba(139, 125, 119, 0.5);
    padding: 0.25em 1em;
    /* border: 0.25px solid rgba(139, 125, 119, 0.5); */
}

/* ------search stories-------- */

/* .search-articles__stories {
    border-bottom: 1px solid rgb(139, 125, 119);
    width: 50%;
    height: 50%;
    margin: 0 auto;
} */

.container__stories .input {
    border: 0;
    outline: none;
    color: #8b7d77;
    /* font-size: 18px; */
    /* margin-bottom: -20em; */
}

.search_wrap__stories {
    width: 500px;
    margin: 38px auto;
}

.search_wrap__stories .search_box__stories {
    position: relative;
    width: 500px;
    height: 60px;
    border-bottom: 1px solid rgba(206, 79, 39);
}

@media screen and (max-width: 530px) {
    .search_wrap__stories .search_box__stories {
        width: 300px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 400px) {
    .search_wrap__stories .search_box__stories {
        width: 200px;
        margin-left: 4em;
    }
}

.search_wrap__stories .search_box__stories .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
}

.search_wrap__stories .search_box__stories .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    color: rgba(206, 79, 39);
    z-index: 1;
    cursor: pointer;
}

.search_wrap__stories .search_box__stories .btn.btn_common__stories .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(206, 79, 39);
    font-size: 1.7em;
}
.search_wrap__stories .search_box__stories .btn.btn_common__stories .fa:hover {
    background: rgba(206, 79, 39);
    color: #fff;
    padding: 0.6em;
}

.search_wrap .search_wrap_2 .search_box__stories .btn {
    left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search_wrap__stories .search_wrap_2__stories .search_box__stories .input {
    padding-left: 80px;
}

.edit-story-div {
    width: 90%;
}

.btn-edit {
    background-color: rgba(206, 79, 39);
    color: white;
    text-transform: uppercase;
    padding: 1em;
    margin: 0 auto;
    /* margin-left: -8%; */
    border-radius: 0.25em;
    cursor: pointer;
}

.btn-edit:hover,
.btn-edit:active {
    transform: translateY(-3px);
    box-shadow: -0.25em 0.5em 0.5em rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease;
}
